<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>My lists</h2>

            <% @lists.each do |list| %>

            <div class="row" id="list_<%= list.id %>">

                <div class="col-xs-6 col-sm-6"><%= link_to list.title, list_tasks_path( list )%>

                    <% (list.users - [list.owner]).each do |u| %>

                    <small class="text-muted">
                        <i>co-owners:
                            <%= u.name %>
                            <%end%></i>
                    </small>

                </div>
                <div class="col-xs-3 col-sm-3"><%= link_to '×', list_path(list), method: :delete, remote: true, class: 'delete' %></div>

                <div class="col-xs-3 col-sm-3"><%= link_to share_list_path(list) , class: "fa fa-share" do %>
                    <i aria-hidden="true"></i>
                    <%end%></div>
            </div>
            <% end %>

            <%= link_to "New List", new_list_path, class: "btn btn-primary btn-sm" %>

        </div>
        <div class="col-md-6">
            <h2>Shared lists</h2>

            <% @share_list.each do |slist| %>
            <div class="row">

                <div class="col-xs-6 col-sm-3">
                    <%= link_to slist.title, list_tasks_path(slist.id) %>

                    <small class="text-muted">
                        <i>from
                            <%= slist.owner.name %></i>
                    </small>
                </div>
            </div>

            <% end %>

        </div>

    </div>
</div>
