<div class="container">
<h1 class="text-center login-title">Sign up!</h1>
<div class="row">

      <div class="col-sm-6 col-md-4 col-md-offset-4">
          <div class="account-wall">
            <%= form_for @user, url: '/users' do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="input-group">
              <%= f.text_field :name, class: 'form-control', placeholder: 'Username' %>
              <%=  f.text_field :email, class: 'form-control', placeholder: 'Email' %>
              <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
            </div>
            <br>
            <%= f.submit 'Create user' , class: 'btn btn-lg btn-primary btn-block' %>
            <% end %>
          </div>
    </div>
</div>
</div>
