<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <nav class="navbar navbar-light bg-faded">
          <%= link_to 'ToDo', '/', class: "navbar-brand" %>
          <ul class="nav navbar-nav navbar-right">

            <% if current_user %>
              <li>Signed in as <%= current_user.name %></li>
              <li><%= link_to "My Lists", '/lists' %></li>
              <li><%= link_to 'Settings', edit_user_path(current_user.id) %></li>
              <li><%= link_to "Logout", '/logout' %></li>
                  <%= gravatar_for current_user %>
            <% else %>

              <li><%= link_to 'Login', '/login' %></li>
              <li><%= link_to 'Signup', '/signup' %></li>

            <% end %>

          </ul>
        </nav>
      </div>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
